<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up with SharePix</title>
  <link rel="shortcut icon" href="/images/s-logo.png" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="/images/s.png" alt="pin logo" class="img1" />
      <p class="header">Make Account to see more</p>
      <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="text" name="username" placeholder="Username" class="detail" /><br />
        <input type="text"name="fullname" placeholder="Full Name" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Register Now">
      </form>


      <!-- this is only for adding Facebook and Google auth -->
      <!-- <p class="or">OR</p>
      <button class="btn fbk">
        <i
          class="fab fa-facebook fa-lg"
          style="color: white; padding-right: 10px"
        ></i
        ><a href="#">Continue with Facebook</a></button
      ><br />
      <button class="btn ggl">
        <i
          class="fab fa-google"
          style="color: rgb(11, 241, 22); padding-right: 10px"
        ></i
        ><a href="#">Continue with Google</a>
      </button> -->

      <footer>
        <p>
          By continuing, you agree to SharePix's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <p>Already on SharePix? <a href="/login">Log in</a></p>
      </footer>
    </div>
  </div>
  <a href="/login" class="upbtn">Log in</a>

</body>
</html>